{% load i18n %}{% autoescape off %}

{% blocktranslate %}Bu manzilda foydalanuvchi hisobingiz uchun parolni o'zgartirishni so'raganingiz uchun ushbu xatni oldingiz {{ site_name }}.{% endblocktranslate %}
{% translate "Iltimos, keyingi sahifaga o'ting va yangi parolni tanlang:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "Agar unutgan bo'lsangiz, foydalanuvchi nomingiz:" %} {{ user.get_username }}

{% translate "Saytimizdan foydalanganingiz uchun tashakur!" %}
{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}


{% endautoescape %}

